{{#each pictures as |picture|}}
  {{log picture}}

<div class="picture" data-id="{{picture.id}}">
  <ul>
    <h2>Pictures</h2>
      <p data-id"{{picture.id}}">{{picture.name}} uploaded this:</p>
      <img src="{{picture.url}}">
</ul>
  <hr>
</div>
<button  data-id="{{picture.id}}" class="btn btn-danger delete">Remove</button>
<button  data-id="{{picture.id}}" class="btn btn-warning update">Update</button>
{{/each}}
